body {
    background-color: #ffffff;
    color: blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }


main > header {
  display: flex;
  justify-content: space-around;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  /*background-color: rgb(178, 178, 241);*/
  padding: 1em;
  margin: 1em;
  align-items: baseline;

}
.search-bar, h1, .header-buttons{
  text-align: center;
}
main > header h1 {
  margin: 0;
}
main > header a.button {
  margin: 1em;
  justify-self: center;
}
main > header span {
  margin: 1em;
  justify-self: center;
}

#content {
  justify-content: center;
  align-items: center;
}

#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid blue;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form .success {
  font-weight: bold;
  color: #106af1;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}



footer {
  display: flex;
  justify-content: space-around;
  color: blue;
  padding: 1em;
  align-items: baseline;
  align-items: center;
  padding: 1rem;
  margin-top: auto;
}
.site-moto{
  max-width: 15vw;
}

/**
  * Override milligram colors
  * Some styles might be missing
  **/

button {
  background-color: blue;
  border-color: blue;
}
a.button {
  background-color: blue;
  border-color: blue;
}
a.button.button-outline {
  color: blue;
}
a {
  color: blue;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: blue;
}
