.question_card{
    padding-top: 10px;
    /* background-color: rgb(248, 249, 255); */
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.127);
    border-radius: 2px;
    margin-bottom: 2px;
}

.question_user_container{
    /* background-color: blue; */
    text-align: center;
    width: 15%;
}

.question_user_photo {
    background-color: rgb(204, 202, 202);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5px;
}

.question_user_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_questions_tittle{
    width: 60%;
    /* background-color: blue; */
}

.top_questions_n_answers, .top_questions_votes{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.more_details{
    color: rgb(15, 15, 164);
    text-decoration: underline;
}

#dropdown-menu {
  max-width: 30vw;
  max-height: 50vh;
  background-color: #fff;
  position: absolute;
  z-index: 1000; /* Set a high z-index value */
  overflow: auto;
  padding: 1em
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: block; 
}

.notification-read {
  color: #ccc;
}

.notification-unread {
  color: #000;
}
