#recover-password {
    display: flex;
    flex-direction: column;
    height: 80vh;
}
#recover-password form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#recover-password form label {
    font-weight: bold;
    margin-bottom: 5px;
}
#recover-password form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#recover-password form button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#recover-password form button:hover {
    background-color: #3980eb
}
#recover-password form button:active {
    background-color: #11499e
}
#recover-password form button:focus {
    outline: none;
}
#recover-password .popup-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    z-index: 1;
}
#explanation-recover {
    margin-bottom: 20px;
    margin: 0 0em 1em 0em;
    font-size: 1.5em;
    text-justify: distribute;
}
#email{
    text-indent: 10px;
}