#recover-password {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    
    padding: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
#recover-password form {
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;
    width: 30%;
    min-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#recover-password form label {
    font-weight: bold;
    margin-bottom: 5px;
}
#recover-password form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#recover-password form button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#recover-password form button:hover {
    background-color: #3980eb
}
#recover-password form button:active {
    background-color: #11499e
}
#recover-password form button:focus {
    outline: none;
}

.explanation-recover {
    margin: 0 0em 0.5em 0em;
    font-size: 1.4em;
    text-justify: distribute;
}
.custom-placeholder{
    text-indent: 10px;
}
.styled-email {
    display: inline-block;
    font-size: 0.8em;
    padding: 5px 10px; 
    font-style: italic;
    color:gray;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}
