#tags {
    margin: 20px;
    text-align: center;

}

#tags ul {
    list-style: none;
    padding: 0;
}

#tags ul li {
    margin-bottom: 5px;
}

#createTagForm {
    margin-top: 20px;
}

#createTagForm label,
#createTagForm input,
#createTagForm textarea,
#createTagForm button {
    display: block;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#createTagForm button {
    width: 100px;
}

#showTagFormButton {
    margin-bottom: 10px;
}


#createTagForm {
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}